/* -- GLOBAL STYLING -- */

body {
	background-color: #fff;
}

pre {
	white-space: normal;
	background: #fab;
	border: 4px solid #000;
	padding: 10px 15px;
}

th,
td {
	padding: 1px 5px;
}

.h1--public {
	font-size: 3.5rem;
}

h1 .fas {
	font-size: .75em;
}

h2,
.h2 {
	font-size: 1.6rem;
}

a { color: #50acc0; }
.nav__list--user a { color: #c09; }
a:hover, a:focus
.nav__list--user a:hover, .nav__list--user a:focus { color: #000; }

.link--long {
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
	width: 100%;
}

.btn--primary {
	background-color: #f9eef8;
	border-color: #f2bfe4;
	box-shadow: inset 0 0 4px #c09;
}

.btn--primary:hover,
.btn--primary:focus {
	border-color: #c09;
	box-shadow: inset 0 0 4px #c09;
	outline: none;
}

.btn--primary:active {
	box-shadow: 0 0 4px 0 #999;
	outline: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.15);
}

.btn--cancel {
	background-color: #ffeaef;
	border-color: darkred;
	box-shadow: inset 0 0 4px red;
}

.btn--secondary,
.cookie-consent__agree {
	background-color: #f1f1f1;
	border-color: #999;
	box-shadow: inset 0 0 4px #999;
}

.cookie-consent__agree {
	font-size: .8rem;
	padding: 4px 8px;
}

.btn--secondary:hover,
.btn--secondary:focus,
.cookie-consent__agree:hover,
.cookie-consent__agree:focus {
	border-color: #666;
	box-shadow: inset 0 0 4px #999;
	outline: none;
}

.btn--secondary:active,
.cookie-consent__agree:active {
	box-shadow: 0 0 4px 0 #999;
	outline: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.15);
}

.btn--toggle-close {
	margin-bottom: 15px;
}

.has-error input {
	border-color: red;
}

.space-children > * {
	margin-right: 8px;
	padding-right: 10px;
}

.modal-header {
	padding-bottom: 10px;
}

.modal-header > h2 {
	margin-bottom: 0;
}

.modal-header .close {
	min-width: 40px;
	padding-bottom: 5px;
}

.item__give-info {
	color: #666;
	line-height: 30px;
}

.item__give-info .fa-check {
	color: #4db503;
}

.form--give {
	float: right;
}

.form--give input[type="number"] {
	border: 1px solid #999;
	width: 70px;
	padding: 2px 3px;
}

.form--give button[type="submit"] {
	padding: 3px 8px;
	vertical-align: baseline;
}

.cookie-consent {
	background: #f5f5f5;
	line-height: 1.2rem;
	margin-bottom: -10px;
	text-align: center;
	padding: 5px 20px;
}

.cookie-consent__agree {
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid #cfcfcf;
	padding: .375rem .75rem;
	line-height: 1.4;
	border-radius: .25rem;
	display: block;
	margin: 5px auto 0;
}

header {
	border-top: 2px solid #c09;
	border-bottom: 2px solid #50acc0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 10px auto 20px;
	text-align: center;
	max-width: 440px;
}

.header--public {
	border-top: 2px solid #c09;
	border-bottom: 2px solid #50acc0;
	max-width: 600px;
	position: relative;
	padding: 5px 15px;
	margin-bottom: 0;
}

.header--admin {
	border-top: none;
}

.link--logo-header {
	align-self: center;
	display: inline-block;
}

.logo--header {
	margin-left: 10px;
	width: 18vw;
	max-width: 85px;
	height: auto;
}

.logo--1row {
	margin: 0;
	width: 160px;
	max-width: none;
}

.wrapper {
	padding: 10px 20px;
}

.sidebar {
	border-right: 1px solid #000;
	margin-right: 10px;
	padding: 10px;
	width: 20%;
	max-width: 200px;
}

.nav--admin {
	border-top: 2px solid #fab;
	border-bottom: 2px solid #c09;
	display: block;
	order: -1;
	width: 100%;
}

.nav__container {
}

.nav__container--left {
	margin-top: -2px;
}

.nav__container--right {
	margin-bottom: -2px;
}

.nav__list {
	border: 2px solid #c09;
	border-width: 2px 0 0;
	margin: 0;
	padding: 0 10px;
}

.nav__list--admin {
	border-color: transparent;
	display: inline-block;
	margin-bottom: 0;
	padding: 4px 8px;
	position: relative;
}

.nav__list--public {
	border: none;
	margin: -4px 0;
}

.nav__list--general {
	border-color: #50acc0;
	border-width: 0 0 2px;
}

.nav__list--profile {
	width: 30px;
	overflow: hidden;
}

.nav__item {
	display: inline-block;
	font-size: 1.1rem;
	margin: 0 3px;
	padding: 4px 5px;
}

.nav__item--logout {
	float: right;
}

.nav__link--current,
.nav__list--user .nav__link--current {
	font-weight: bold;
	color: #000;
}

.nav__submenu {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.form__field {
	margin-bottom: 15px;
}

.form__field--checkbox {
	margin-bottom: 0;
	margin-left: 15px;
}

.invite--card {
	background: #fff;
	border-top: 1px solid #999;
	margin-bottom: 15px;
	padding-top: 15px;
}

.item--card,
.list--card {
	background: #fff;
	border: 1px solid #999;
	margin-bottom: 15px;
	padding: 10px 15px 0;
}

.item--card:hover,
.list--card:hover {
	border-color: #000;
}

.item__link {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.item__details,
.list__details {
	color: #c09;
	margin-bottom: .8rem;
}

.item__detail,
.list__detail {
	border-right: 1px solid #e5e5e5;
}

.item__detail:last-child,
.list__detail:last-child {
	border-right-width: 0;
	margin-right: 0;
	padding-right: 0;
}

.item__actions,
.list__actions {
	border-top: 1px solid #e5e5e5;
	padding: 5px 0;
	overflow: auto;
}

.list__actions--public {
	border-top: none;
	border-bottom: 1px solid #e5e5e5;
	margin: -5px 0 0;
	padding: 0 15px 5px;
}

.dashboard-links__wrapper {
	text-align: center;
}

.dashboard-link {
	display: inline-block;
	border: 1px solid #e5e5e5;
	border-radius: 20px;
	margin: 15px;
	padding: 15px 15px;
	text-align: center;
	width: 100px;
	height: 115px;
}

.dashboard-link:hover {
	border-color: #000;
	text-decoration: none;
}

.dashboard-link__icon {
	color: #ccc;
	font-size: 3rem;
}

a:hover .dashboard-link__icon {
	color: #000;
}

.dashboard-link__label {
	display: block;
	font-size: 1rem;
	margin-top: 10px;
}

.list-details--public {
	margin-top: 15px;
	margin-bottom: 30px;
	text-align: center;
}

footer {
	border-top: 1px dotted #e5e5e5;
	margin-top: 60px;
	padding-top: 20px;
	opacity: 0.7;
}

footer:hover {
	opacity: 1;
}

.footer__copyright {
	text-align: center;
}

.give-icon__hand {
	font-size: 2rem;
	position: relative;
	bottom: -.4rem;
}

.give-icon__gift {
	position: absolute;
	font-size: 0.65em;
	left: .3em;
	top: 0em;
	color: #c09;
}

.giver-actions__notice {
	margin-bottom: 15px;
	text-align: center;
}

@media screen and (min-width: 992px) {
	header {
		border: none;
		display: block;
		margin-top: 20px;
	}

	.header--public {
	}

	.logo--header {
		margin: 0;
		width: 100px;
		max-width: none;
	}

	.link--logo-header {
		margin-bottom: 20px;
	}

	.link--logo-header-public {
		-ms-flex-item-align: center;
		-ms-grid-row-align: center;
		align-self: center;
		-ms-flex-positive: 1;
		flex-grow: 1;
		display: inline-block;
	}

	header nav {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 50% 50%;
		grid-template-columns: 50% 50%;
	}

	.wrapper {
		padding: 10px 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.content {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 600px;
	}

	.nav--public {
		display: inline-block;
	}

	.nav--admin {
		border: none;
	}

	.nav__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-positive: 1;
		flex-grow: 1;
		margin: 0 7px;
	}

	.nav__container--left {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}

	.nav__container--right {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.nav__list {
		border-width: 2px 0;
	}

	.nav__list--user,
	.nav__list--general {
		min-width: 320px
	}

	.nav__list--user {
		-webkit-border-image: linear-gradient(to left, #c09 70%, transparent 100%);
		border-image-slice: 1;
		text-align: right;
	}

	.nav__list--general {
		-webkit-border-image: linear-gradient(to right, #50acc0 70%, transparent 100%);
		border-image-slice: 1;
		text-align: left;
	}
	.nav__list--admin {
		border-color: #fab;
		margin-bottom: 10px;
	}
	.nav__item {
		font-size: .9rem;
		margin-left: 5px;
		margin-right: 5px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.form--narrow {
		max-width: 300px;
	}
}

@media screen and (max-width: 350px) {
	.nav__list {
		font-size: 1rem;
		padding: 0 5px;
	}
	.nav__item {
		margin: 0 1px;
	}
}